*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h2, h6{
  font-family: var(--font-young-serif);
}

:root {
  /* Colors: HSL (Hue, Saturation, Lightness) */
  --color-white: hsl(0, 0%, 100%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);

  --color-brown-800: hsl(14, 45%, 36%);

  --color-Rose-800: hsl(332, 51%, 32%);
  --color-Rose-50: hsl(330, 100%, 98%);
  

  /* Font Families */
  --font-outfit: "Outfit", sans-serif;
  --font-young-serif: "Young Serif", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-outfit);
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Main */

.main--container{
  background-color: var(--color-stone-100);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10rem 0;
}
.main-page{
  max-width: 72rem;
  background-color: var(--color-white);
  padding: 3rem;
  border-radius: 1rem;
}
.page--img{
  margin-bottom: 2rem;
}
.main--img{
  border-radius: 1rem;
}
.main--heading{
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--color-stone-900);
}
.main--description{
  font-size: 1.4rem;
  color: var(--color-stone-600)container;
  margin-bottom: 2.2rem;
}

/* Procedure */

.procedure--box{
  background-color: #FFF7FC;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.list--heading{
  font-size: 1.4rem;
  color: var(--color-Rose-800);
  margin-bottom: 1.2rem;
}
.list--item{
  margin-left: 1.6rem;
  margin-bottom: 0.6rem;
  padding-left: 1rem;
  font-size: 1.4rem;
}
.span{
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 0.4rem;
}

/* Ingredients */

.ingredients{
  padding-right: 1.8rem;
}
.ingredients--heading{
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color-brown-800);
}
.ingredients--list{
  margin-left: 0.6rem;
  color: var(--color-stone-600);
}

/* border */

.border{
  border-top: 1px solid var(--color-stone-150);
  margin: 2.4rem 0;

}

/* Instructions */

.instructions{
  padding-right: 1.8rem;
}
.instructions--heading{
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color-brown-800);
}
.instructions--list{
  font-family: var(--font-outfit);
  color: var(--color-stone-600);
}

/* Nutritions */

.nutritions--heading{
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color-brown-800);
}

.nutrition--description{
  font-size: 1.4rem;
  color: var(--color-stone-600);
  margin-bottom: 2rem;
}
.border--nutrition{
  border-top: 1px solid var(--color-stone-150);
  margin: 1.2rem 0;
}
.product{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.2rem;
  padding-left: 2rem;
}
.nutrient{
  color: var(--color-stone-600);
}
.quantity{
  color: var(--color-brown-800);
  font-weight: 600;
}